.help-block {
	font-size: .8em;
	margin: 0 5px;
	color: #e53935;
}
.help-block:empty {
	display: none;
}
#top_bar {
	top: 0;
}
.top_bar_active {
	padding-top: 40px;
}
#page_content_inner {
}
.uk-tab>li>a {
	padding: 13px 8px !important;
}
.form-group {
	margin-bottom: 1em;
}
.md-card-toggle-heading {
	cursor: pointer;
}

@media (max-height: 767px) {
	#menu_top>li .uk-dropdown {
		max-height: 250px !important;
	}
}